In [2]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('RDD Exampl').getOrCreate()

In [89]:
rdd = spark.sparkContext.textFile("D:\exam\RDD\Weather Data in India from 1901 to 2017.csv")
words_rdd = rdd.flatMap(lambda line: line.split())
max_value = words_rdd.max()
min_value = words_rdd.min()


print(max_value)
print(min_value)

YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
1901,17.99,19.43,23.49,26.41,28.28,28.6,27.49,26.98,26.26,25.08,21.73,18.95

In [86]:
df = spark.read.csv("D:/exam/RDD/Weather Data in India from 1901 to 2017.csv", header=True, inferSchema=True)
a = df.withColumn('average temp',(F.col("JAN") + F.col("FEB") + F.col("MAR") + F.col("APR") + F.col("MAY") + F.col("JUN") + F.col("JUL") + F.col("AUG") +F.col("SEP") + F.col("OCT") + F.col("NOV") + F.col("DEC")) / 12.0)
a = a.withColumn('Min', F.least(F.col("JAN"), F.col("FEB"), F.col("MAR"), F.col("APR"),F.col("MAY"), F.col("JUN"), F.col("JUL"), F.col("AUG"),F.col("SEP"), F.col("OCT"), F.col("NOV"), F.col("DEC")))
a = a.withColumn('Max', F.greatest(F.col("JAN"), F.col("FEB"), F.col("MAR"), F.col("APR"),F.col("MAY"), F.col("JUN"), F.col("JUL"), F.col("AUG"),F.col("SEP"), F.col("OCT"), F.col("NOV"), F.col("DEC")))
a.show(3)

+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+-----+-----+
|YEAR|  JAN|  FEB|  MAR|  APR|  MAY|  JUN|  JUL|  AUG|  SEP|  OCT|  NOV|  DEC|      average temp|  Min|  Max|
+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+-----+-----+
|1901|17.99|19.43|23.49|26.41|28.28| 28.6|27.49|26.98|26.26|25.08|21.73|18.95|24.224166666666665|17.99| 28.6|
|1902| 19.0|20.39| 24.1|26.54|28.68|28.44|27.29|27.05|25.95|24.37|21.33|18.78|24.326666666666664|18.78|28.68|
|1903|18.32|19.79|22.46|26.03|27.93|28.41|28.04|26.63|26.34|24.57|20.96|18.29|23.980833333333333|18.29|28.41|
+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+-----+-----+
only showing top 3 rows

In [87]:
a.orderBy(F.desc("average temp"))
a.orderBy(F.asc("average temp"))
a.show(5)

+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+-----+-----+
|YEAR|  JAN|  FEB|  MAR|  APR|  MAY|  JUN|  JUL|  AUG|  SEP|  OCT|  NOV|  DEC|      average temp|  Min|  Max|
+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+-----+-----+
|1901|17.99|19.43|23.49|26.41|28.28| 28.6|27.49|26.98|26.26|25.08|21.73|18.95|24.224166666666665|17.99| 28.6|
|1902| 19.0|20.39| 24.1|26.54|28.68|28.44|27.29|27.05|25.95|24.37|21.33|18.78|24.326666666666664|18.78|28.68|
|1903|18.32|19.79|22.46|26.03|27.93|28.41|28.04|26.63|26.34|24.57|20.96|18.29|23.980833333333333|18.29|28.41|
|1904|17.77|19.39|22.95|26.73|27.83|27.85|26.84|26.73|25.84|24.36|21.07|18.84|23.849999999999998|17.77|27.85|
|1905| 17.4|17.79|21.78|24.84|28.32|28.69|27.67|27.47|26.29|26.16|22.07|18.71|           23.9325| 17.4|28.69|
+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+-----+-----+
only showing top 5 rows